.small__pics {
  min-width: 0 !important;
}

.camp_container {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.camps_navigation button {
  position: relative;
}

.camps_navigation button::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 1px;
  background-color: #8e7e57;
  transition: all 0.5s;
}

.camps_navigation button:hover::before {
  width: 100%;
}

.camps_navigation button.active-tab::before {
  width: 100%;
}

@media (max-width: 1157px) {
  .camp_container {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .camp_wrapper {
    padding: 16px;
  }

  .camp__description {
    margin-inline: 10px;
  }
}

/* @media (max-width: 1195px) {
  .big-image {
    width: 610px;
  }
}

@media (max-width: 670px) {
  .small__pics {
    width: 240px;
    height: 240px;
    max-width: 100% !important;
    max-height: 100% !important;
  }
}

@media (max-width: 437px) {
  .small__pics {
    width: 155px;
    height: 133px;
    max-width: 100% !important;
    max-height: 100% !important;
  }
} */
