@media (max-width: 1195px) {
  .big-image {
    width: 610px;
  }
}

@media (max-width: 670px) {
  .small__pics {
    width: 240px;
    height: 240px;
    max-width: 100% !important;
    max-height: 100% !important;
  }
}

@media (max-width: 437px) {
  .small__pics {
    width: 155px;
    height: 133px;
    max-width: 100% !important;
    max-height: 100% !important;
  }
}
