@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: linear-gradient(180deg, rgba(36, 31, 19, 0) 0%, #241f13 60.29%); */
  background-color: #241f13;
  overflow-x: hidden !important;
}

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-padding-top: 100px !important;
}

.main {
  min-height: 90vh;
  background-image: url(../../assets/main-bg-1.webp),
    linear-gradient(70deg, rgba(0, 0, 0, 0.43) 0%, rgba(217, 217, 217, 0) 100%);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

@media (max-width: 500px) {
  .main {
    background-position: -650px top;
  }
}

.gradient-main {
  height: 395px;
  width: 100%;
  background: linear-gradient(180deg, rgba(36, 31, 19, 0) 0%, #241f13 60.29%);
}

#eapps-instagram-feed-1 .eapps-instagram-feed-posts-item {
  background: #332b18 !important;
  display: flex !important;
  flex-direction: column !important;
  padding: 20px !important;
  border-radius: 20px;
}

#eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-image-wrapper {
  border-radius: 10px !important;
}
.yottie-widget-video-preview-thumbnail {
  border-radius: 10px !important;
}

.Window__WindowContent-sc-1wwhwms-1 button {
  background-color: #fff !important;
  height: 40px !important;
}
.Window__WindowContent-sc-1wwhwms-1 button > span {
  color: chocolate;
}
.dkLpGG {
  background-color: #332b18 !important;
  border: 1px solid #fff;
  border-radius: 20px !important;
  /* outline: 1px solid #fff;  */
}

.jqZPlV {
  background-color: transparent !important;
}

@media (max-width: 471px) {
  .custom__container {
    padding-inline: 0px !important;
  }
}

/* .yottie-widget-feed-section-slide {
  width: 100% !important;
  padding-left: 48px !important;
  padding-right: 48px !important;
}
.yottie-widget-video {
  margin: 0 9px !important;
}
.swiper-slide-visible,
.swiper-slide-active {
  display: flex !important;
  justify-content: space-between !important;
}

.yottie-widget-feed-section-arrow-next {
  position: absolute !important;
  display: block !important;
  z-index: 3 !important;
  right: -15px !important;
  box-shadow: none !important;
}
.yottie-widget-feed-section-arrow-prev {
  position: absolute !important;
  display: block !important;
  z-index: 3 !important;
  left: -15px !important;
  box-shadow: none !important;
}
.yottie-widget-feed-section-arrow {
  box-shadow: none !important;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* .p-carousel-prev {
  flex: none !important;
}

.p-carousel-next {
  flex: none !important;
}

.p-carousel-container {
  max-width: 100% !important;
}

.p-carousel,
.p-component,
.p-carousel-horizontal {
  max-width: 100% !important;
}

.p-carousel-content,
.p-carousel-items-content,
.p-carousel-items-container {
  max-width: 100% !important;
}

.p-carousel-item {
  width: 280px;
  max-width: 100%;
}

.p-carousel-container > button {
  flex: none !important;
} */
