.menu {
  position: relative;
  display: none;
}

@media (max-width: 1164px) {
  .menu {
    display: block;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 18px;

    background-color: #332b18;
    color: #fff;
    opacity: 0;
    position: absolute;
    right: -200px;
   
    top: 52px;
    width: 250px;
    height: 448px;
    padding: 10px 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    pointer-events: none;
    transition: all 0.3s;
  }

  .show {
    opacity: 1;
    top: 52px;
    right: -40px;
    pointer-events: all;
  }

  .divider {
    border-top: 1px solid #b0abab;
    padding-top: 10px;
  }

  .burger {
    display: flex;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
    /* border: 1px solid red; */
    position: relative;
  }

  .line {
    display: inline-block;
    height: 1px;
    width: 20px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    transition: all 0.5s;
  }

  .book__link {
    background-color: #fff;
    color: #f45914;

    font-weight: 600;

    width: 120px;
    height: 26px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    border-radius: 6px;

    transition: all 0.3s;
  }

  .top-line {
    transform: rotate(139deg);
    top: 8px;
    left: 0px;
  }

  .middle-line {
    transform: translateX(-20px);
    opacity: 0;
  }

  .bottom-line {
    transform: rotate(224deg);
    top: -8px;
    left: 0px;
  }
}
