@media (max-width: 500px) {
  .main__banner-home {
    padding-inline: 30px !important;
  }

  .main__banner-home > h1 {
    font-size: 50px !important;
    margin-top: -64px;
  }

  .main__banner-home > p {
    font-size: 19px !important;
  }

  .main__banner-home > div a {
    font-size: 16px !important;
  }
}
