.custom__shadow {
  display: none;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    70deg,
    rgba(0, 0, 0, 0.43) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}

@media (max-width: 500px) {
  .main__banner-home {
    padding-inline: 30px;
  }

  .custom__shadow {
    display: block;
  }

  .main__banner-home > h1 {
    font-size: 64px;
    margin-top: -74px;
  }

  .main__banner-home > p {
    font-size: 32px;
    font-weight: 300;
    margin-block: 50px;
    width: 220px;
  }

  .main__banner-home > div {
    flex-direction: column;
    align-items: flex-start;
  }

  .main__banner-home > div a {
    font-size: 16px;
  }
}
