/* width */
.expedition__container::-webkit-scrollbar {
  width: 10px;
  right: -100px;
  border-radius: 100vmax;
}

/* Track */
.expedition__container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100vmax;
}

/* Handle */
.expedition__container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100vmax;
}

/* Handle on hover */
.expedition__container::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 100vmax;
}

@media (max-width: 855px) {
  .flex-container-1 {
    margin-top: 20px;
  }

  .expedition-wrapper {
    display: block;
  }

  .expedition__container > div {
    border: none;
    /* border-top: 1px solid #c4a174; */
  }

  .expedition__container {
    display: none;
  }

  .main-expedition-image {
    width: 100%;
  }
}

@media (max-width: 570px) {
  .expedition-wrapper {
    padding-inline: 16px;
  }

  #essentials {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  #essentials > div > h3 {
    font-size: 21px;
  }

  .expedition__description-text {
    margin-inline: 16px;
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 30px;
    /* font-size: 12px; */
  }

  .expedition__main-title {
    font-size: 12px;
    font-weight: bold;
  }
}
