@media (max-width: 926px) {
  .efforts__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .efforts__text-container {
    margin-top: 30px;
  }

  .efforts__text-container h5 {
    text-align: center;
  }
  
  .efforts__text-container h5 {
    text-align: center;
  }

  .efforts__wrapper {
    gap: 0;
  }
}
