.about__banner {
  min-height: 100vh;
  /* background-image: url(../../assets/image\ 10.png), */
  background-image: url(../../assets/contact.webp),
    linear-gradient(91deg, rgba(0, 0, 0, 0.43) 0%, rgba(217, 217, 217, 0) 100%);
  background-blend-mode: multiply;
  background-size: cover;
  padding-top: 200px;
  padding-inline: 85px;
  color: #fff;
}
.banner-gradient {
  height: 300px;
  width: 100%;
  background: linear-gradient(180deg, rgba(36, 31, 19, 0) 0%, #241f13 60.29%);
  position: absolute;
  bottom: -85px;
  left: 0;
  z-index: 77;
}

@media (max-width: 500px) {
  .about__banner {
    background-image: url(../../assets/contact.webp),
      linear-gradient(
        91deg,
        rgba(0, 0, 0, 0.43) 150%,
        rgba(217, 217, 217, 0) 10%
      );
    background-position: -760px top;
    padding-inline: 16px;
  }

  .about__banner h1 {
    font-size: 50px;
  }

  .about__banner p {
    font-size: 15px;
  }
}
