#about-page #founder__wrapper .slick-slider .slick-list .slick-track .slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-page
  #founder__wrapper
  .slick-slider
  .slick-list
  .slick-track
  .slick-slide
  .team__card {
  width: 280px !important;
  height: 350px !important;
}

#about-page #founder__wrapper {
  margin-top: 100px;
}

#about-page #founder__wrapper > h2{
  margin-bottom: 50px;
  font-size: 21px;
}

#about-page #team {
  margin-top: 100px;
}

#about-page #team {
  margin-top: 100px;
  margin-bottom: 100px;
}

#about-page #team > h3{
  margin-bottom: 50px;
  font-size: 21px;
}

#about-page #conservation h3 {
  margin-bottom: 50px;
  font-size: 21px;
  padding-inline: 16px;
}