@media (max-width: 926px) {
  .secondary__efforts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .secondary__efforts {
    gap: 0;
  }

  .secondary__efforts div {
    margin-top: 30px;
  }

  .secondary__efforts div h5 {
    text-align: center;
  }
}
