.slick-slide > div {
  margin: 0 7px !important;
}
.slick-list {
  margin: 0 -7px !important;
}
.slick-dots {
  position: static !important;
  inset: 0 !important;
}
.slick-dots li button:before {
  font-size: 10px !important;
  color: #d6d6d6 !important;
  border-radius: 100% !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  font-size: 13px !important;
  color: #f45914 !important;
}
.slick-dots li {
  margin: 0 -2px !important;
}
.team-gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 52%,
    rgba(0, 0, 0, 0.8) 92.5%
  ) !important;
  position: absolute !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 29 !important;
  border-bottom: 2px solid #8e7e57;
  border-left: 2px solid #8e7e57;
  border-right: 2px solid #8e7e57;
}

.team__card > p,
.team__card > h3 {
  letter-spacing: 2px;
}

@media (max-width: 500px) {
  #team__container-slider .slick-slider .slick-list .slick-track .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 372px !important; */
  }

  #team__container-slider .slick-slider .slick-list .slick-track .slick-slide {
    /* width: 280px !important; */
    margin: 0 0px;
  }

  #team__container-slider
    .slick-slider
    .slick-list
    .slick-track
    .slick-slide
    > div
    > div {
    width: 321px !important;
    height: 401px !important;
  }
}
