.marcopolo__banner {
  min-height: 100vh;
  /* background-image: url(../../assets/image\ 10.png), */
  background-image: url(../../assets/Marco_polo_argali_on_Pamir_Mountain.webp),
    linear-gradient(91deg, rgba(0, 0, 0, 0.43) 0%, rgba(217, 217, 217, 0) 100%);
  background-blend-mode: multiply;
  background-size: cover;
  padding-top: 200px;
  padding-inline: 85px;
  color: #fff;
}

.gradient-marcopolo {
  height: 140px;
  width: 100%;
  background: linear-gradient(180deg, rgba(36, 31, 19, 0) 0%, #241f13 60.29%);
}

@media (max-width: 500px) {
  .marcopolo__banner,
  #marcopolo-text-wrapper {
    padding-inline: 16px !important;
  }

  .marcopolo__banner {
    background-position: -1170px -200px;
  }

  .marcopolo__banner h1:nth-child(1) {
    width: 180px;
    position: relative;
    top: 150px;
  }

  .marcopolo__banner h1:nth-child(2) {
    position: relative;
    top: 150px;
  }

  .animal_statistics {
    margin-top: 230px;
  }

  .animal_statistics > div {
    margin-top: 20px;
  }

  .marcopolo__banner > h1 {
    font-size: 50px !important;
  }

  .marcopolo__banner > p {
    font-size: 19px !important;
  }

  .gradient-marcopolo {
    height: 740px;
  }
}