.contact-section {
  min-height: 700px;
  /* max-width: 1690px; */
  width: 1400px;
  max-width: 100%;
  margin: auto;
  /* background-image: url(../../assets/main-bg.png); */
  background-image: url(../../assets/contact.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-inline: 85px;
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
  margin-top: 200px;
}

.contact-form-container {
  border-radius: 20px;
  border: 1px solid #fff;
  color: #fff;
  background: rgba(0, 0, 0, 0.21);
  backdrop-filter: blur(15px);
  width: 550px;
  max-width: 100%;
  padding: 50px 60px;
  position: relative;
  z-index: 999;
}

.gradient {
  height: 944px;
  width: 100%;
  background: linear-gradient(180deg, rgba(36, 31, 19, 0) 0%, #241f13 60.29%);
}

@media (max-width: 617px) {
  .contact-section {
    padding-inline: 16px;
    margin-top: 100px;
  }
  
  .contact-form-container {
    
    padding-inline: 15px;
  }
}