@media (max-width: 1019px) {
  .about-history-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 576px) {
  #history {
    padding-inline: 16px;
    position: relative;
    z-index: 99;
    padding-top: 0;
  }

  .history__text-image {
    height: 250px;
  }

  .about-history-container {
    gap: 30px;
  }

  .company__history-text {
    line-height: normal;
  }
}
