.gallery__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}



.custom__overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: #0000006d;

  width: 100%;
  height: 100%;
  z-index: 99;
}

.hide {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.gallery__navigation-filter button {
  position: relative;
}

.gallery__navigation-filter button::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 1px;
  background-color: #fff;
  transition: all 0.5s;
}

.gallery__navigation-filter button:hover::before {
  width: 100%;
}

.gallery__navigation-filter button.active-tab::before {
  width: 100%;
}

#gallerySection .swiper {
  padding-top: 30px !important;
  padding-bottom: 0px !important;
}

#gallerySection .swiper .swiper-slide{
  margin-right: 20px !important;
}

/* #marco-polo-page .slick-slide > div{ 
  margin: 0 7px !important;
} */

@media (max-width: 500px) {
  #gallerySection {
    margin-top: 100px;
  }
}