.mission-container {
  background-image: url("../../assets/images/tabs-images/mission.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 367px;
}
/* @media (max-width: 922px) {
  .mission-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} */

@media (max-width: 570px) {
  .mission-container {
    padding-inline: 16px;
    margin-inline: 16px;
    height: 250px;
    width: 90%;
  }

  .mission__text-container {
    position: relative;
    top: 200px;
    right: 16px;
    text-align: justify;
    width: 320px;
    /* border: 1px solid red; */
    /* word-spacing: ; */
  }
}
