@media (max-width: 922px) {
  .history-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .extra__text {
    display: none;
  }

  .history__pic {
    height: 280px;
  }
}

@media (max-width: 570px) {
  .history-container {
    padding-inline: 16px;
  }
}
