@media (max-width: 922px) {
  .history-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .extra__text {
    display: none;
  }

  .history__pic {
    height: 250px;
  }
}

@media (max-width: 570px) {
  .history-container {
    padding-inline: 16px;
  }

  .history__main-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
  }
}
