/* .trophie-gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 52%,
    rgba(0, 0, 0, 0.8) 92.5%
  ) !important;
  position: absolute !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 29 !important;
  transform: scale(1.2);
} */

/* .trophie__image {
  transform: scale(1.2);
} */

#trophies-carousel .slick-slide {
  /* width: 570px; */
}
#marco-polo-page .slick-slide > div,
#brukey-page .slick-slide > div,
#ibex-page .slick-slide > div,
#yak-page .slick-slide > div,
#wolf-page .slick-slide > div {
  margin: 0 7px !important;
}

#wolf-page #trophies,
#marco-polo-page #trophies,
#ibex-page #trophies,
#brukey-page #trophies,
#yak-page #trophies{
  margin-bottom: 150px;
}

@media (max-width: 940px) {
  .prev__button,
  .next__button {
    display: none;
  }
}

@media (max-width: 671px) {
  #trophies-carousel {
    padding-inline: 16px !important;
  }
}

@media (max-width: 570px) {
  .trophie__card-item {
    height: 250px;
  }
}
