/* Carousel.css */
.carousel-container-123 {
  max-width: 1200px;
  height: 507px;
  margin-inline: auto;
  margin-bottom: 200px;
  margin-top: 50px;
  background-color: #332b18;
  border-radius: 20px;
  /* padding: 20px; */
  padding-top: 30px;
  position: relative;
}

.carousel-navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.carousel-navigation button {
  position: relative;
}

.carousel-navigation button::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 1px;
  background-color: #fff;
  transition: all 0.5s;
}

.carousel-navigation button:hover::before {
  width: 100%;
}

.carousel-navigation button.active-tab::before {
  width: 100%;
}

.carousel-item-123 {
  text-align: center;
  padding: 20px;
}

.carousel-buttons-123 {
  margin-top: 10px;
  text-align: center;
}

.carousel-buttons-123 button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.carousel-buttons-123 button.active-123 {
  background-color: #333;
  color: #fff;
}

.slick-dots li button:before {
  font-size: 10px !important;
  color: #d6d6d6 !important;
  border-radius: 100% !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  font-size: 13px !important;
  color: #f45914 !important;
}

#founder__wrapper .slick-slider .slick-list .slick-track .slick-slide {
  /* width: 280px !important; */
  margin: 0 0px;
}

.slick-dots li {
  margin: 0 -2px !important;
}

@media (max-width: 570px) {
  .read-more {
    position: absolute;
    bottom: 30px;
    right: 16px;
    z-index: 9999;
  }

  .carousel-container-123 {
    padding-bottom: 50px;
    height: 640px;
    margin-bottom: 100px;
  }

  #founder__wrapper {
    padding-inline: 16px;
    padding-top: 20px;
  }

  .slider__fouders-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .slider__founders {
    width: 140px;
    height: 140px;
  }

  .carousel__navigation-wrapper {
    padding-inline: 16px;
  }

  .carousel-navigation {
    justify-content: center;
    gap: 20px 50px;
  }

  #about {
    padding-top: 60px;
  }
  #founder__wrapper .slick-slider .slick-list .slick-track .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #founder__wrapper
    .slick-slider
    .slick-list
    .slick-track
    .slick-slide
    .team__card {
    width: 321px !important;
    height: 401px !important;
  }
}

@media (max-width: 460px) {
  .carousel-navigation button:nth-child(4) {
    /* margin-left: 30px; */
  }
}
