.ibex__banner {
  min-height: 100vh;
  /* background-image: url(../../assets/image\ 10.png), */
  background-image: url(../../assets/contact.webp),
    linear-gradient(91deg, rgba(0, 0, 0, 0.43) 0%, rgba(217, 217, 217, 0) 100%);
  background-blend-mode: multiply;
  background-size: cover;
  padding-top: 200px;
  padding-inline: 85px;
  color: #fff;
}

.gradient-ibex {
  height: 140px;
  width: 100%;
  background: linear-gradient(180deg, rgba(36, 31, 19, 0) 0%, #241f13 60.29%);
}


@media (max-width: 500px) {
  .ibex__banner,
  #ibex-text-wrapper {
    padding-inline: 16px !important;
  }

  .ibex__banner {
    background-image: url(../../assets/contact.webp),
      linear-gradient(
        91deg,
        rgba(0, 0, 0, 0.43) 150%,
        rgba(217, 217, 217, 0) 10%
      );
    background-position: -710px -100px;
  }

  .ibex__banner > h1 {
    font-size: 50px !important;
  }

  .ibex__banner > p {
    font-size: 19px !important;
  }

  .ibex__banner h1:nth-child(1) {
    width: 180px;
    position: relative;
    top: 150px;
  }

  .ibex__banner h1:nth-child(2) {
    position: relative;
    top: 150px;
  }

  .ibex_statistics {
    position: relative;
    top: 90px;
  }

  .gradient-ibex {
    height: 540px;
  }
}
